/* generate new command */
.generate {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    max-width: 400px;
}

.generate label {
    text-align: center;
    display: block;
    max-width: 800px;
}
.generate h2 {
    font-size: 20px;
    color: #486AA8;
    margin-bottom: 30px;
}
.generate input, .generate textarea, .generate select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    text-align: center;
}
.generate button {
    background: #486AA8;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.result-bar  {
    /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
    background: #ADD7FB;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
