.command-list {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.command-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}

.command-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.command-preview h2 {
    font-size: 20px;
    color: #486AA8;
    margin-bottom: 8px;
}

.command-preview a{
    text-decoration: none;
}